body{
  background-color: #bbb;
  color:white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
}



.timer{
  float:left;
  width: 33.3%;
  text-align: center;
  
}

.main-content{
  float: left;
  width: 62%;
}

.start-break,
.start-pomo {
  display: block; 
  margin-bottom: 1px;
}

.btn, 
.box-button{
  border:none;
  background-color:#333;
  font-size: 25px;
  color:#fff;
  text-transform: uppercase;
}

.start-break{
  background-color: #0099ff;
}

.start-pomo{
  background-color: #00b358;
}

.empty-circle{
  margin: 0 auto;
  position: relative;
  height: 280px;
  width: 280px;
  display: block;
  border: 7px solid black;
  border-radius: 100%;
  overflow: hidden;
  
}

.status{
  background-color: #333;
  z-index:5;
  position:relative;
  margin-top: 120px;
  margin-bottom: 5px;
  color: #00e673;
}
.time{
  position:relative;
  z-index:5;
}

.fill-circle{
  background-color: #00b358;
  display:block;
  height:0px;
  width: 280px;
  position:absolute;
  bottom: 0px;
  z-index: 1;
  
}

.minute-controls {
  user-select: none;
}

/** ====================MEDIA QUERIES=====
  ============================================**/

@media screen and (max-width: 934px){
  .timer{
    width: 100%;
  }
  .errything{
    width: 100%;
  }
  
}