body{
  background-color: #333;
  color:white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
}



.timer{
  float:left;
  width: 33.3%;
  text-align: center;
  
}

.main-content{
  float: left;
  width: 62%;
}

.btn{
  margin: 10px;
  height: 50px;
  padding: 0px 20px;
  border-radius: 5%;
  border: 5px solid black;
  font-size: 22px;
  color:white;
}

.start-break{
  background-color: #0099ff;
}

.start-pomo{
  background-color: #00b358;
}


.box-button{
  border:none;
  background-color:#333;
  font-size: 25px;
  color:#fff;
}



.empty-circle{
  margin: 0 auto;
  position: relative;
  height: 280px;
  width: 280px;
  display: block;
  border: 7px solid black;
  border-radius: 100%;
  overflow: hidden;
  
}

.status{
  margin-top: 120px;
  z-index:5;
  position:relative;
}
.time{
  position:relative;
  z-index:5;
}

.fill-circle{
  background-color: #00b358;
  display:block;
  height:0px;
  width: 280px;
  position:absolute;
  bottom: 0px;
  z-index: 1;
  
}

.minute-controls {
  user-select: none;
}

/** ====================MEDIA QUERIES=====
  ============================================**/

@media screen and (max-width: 934px){
  .timer{
    width: 100%;
  }
  .errything{
    width: 100%;
  }
  
}